body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2rem;
}

nav {
    background-color: #444;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 1rem 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 2rem;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.projeto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}

.projeto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
}

.foto-com-efeito {
    transition: transform 0.3s ease;
}

.foto-com-efeito:hover {
    transform: scale(1.1);
}


.navbar-nav .nav-link {
    position: relative;
    padding-bottom: 5px;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card-text {
    display: none;
}

.card-com-efeito {
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.card-com-efeito:hover {
    transform: scale(1.05);
}

.card-com-efeito .card-text {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.card-com-efeito:hover .card-text {
    opacity: 0;
}

.card-com-efeito .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.card-com-efeito:hover .overlay {
    opacity: 1;
}

.overlay-button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.overlay-button:hover {
    background-color: #333;
    color: #fff;
}

.btn-download {
    background-color: #333;
    color: #fff;
    border: none;
    transition: transform 0.3s ease;
}

.btn-download:hover {
    background-color: #8c8c8c;
    transform: scale(1.1);
}

.typing-text::after {
    content: "|";
    animation: blinkCursor 0.7s infinite;
    font-size: 24px;
  }
  
  @keyframes blinkCursor {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  